* {
    box-sizing: border-box;}

body {
    width:100%;
    height:100%;
    background-color: #1f2937;
}

/* HEADER */

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

.header .logo {
    display: flex;
    align-self: center;
    font-size: 24px;
    color: #F9FAF8;
    padding-left: 300px;
}

.header ul {
    display:flex;
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
    gap: 30px;
    padding-right:300px;
}

/* MAIN */

.main {
    display:flex;
    flex-direction: column;
    padding-top: 100px;
    
}

/* SECTION ONE */
.section-one {
    background-color: #1f2937;
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    padding-right:300px;
    padding-left: 300px;
    padding-bottom: 100px;
}

.section-one h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.section-one p {
    font-size: 18px;
    color: #E5E7EB;
}

.section-one .image-box {
    flex:2 1 300px;
    height: 200px;
    color: white;
    border: 1px solid #eeeeee;
    margin-left:30px;
    align-self: center;
    padding:100px;
    
}   

.section-one button {
    background-color: #3882f6;
    width: 100px;
    height: 40px;
    border-radius: 10px;
}

/* SECTION TWO */

.section-two {
    background-color: white;
    padding-left:300px;
    padding-right:300px;
    gap: 40px;
    flex-wrap: wrap;
    height: 300px;
    padding-top: 30px;
}

.section-two .header {
    font-size: 38px;
    color: #1F2937;
    background-color: white;
    display: flex;
    justify-content: center;
    align-self: center;
    padding-bottom: 30px;
}

.section-two .cards {
    display: flex;
    justify-content: center;
    align-self: center;
    gap:40px;
}

.section-two .card {
    background-color: white;
    border:3px solid blue;
    width: 130px;
    height: 130px;
    gap: 40px;
    border-radius:10px;

}


/* SECTION THREE */

.section-three {
    background: gray;
    padding-right:300px;
    padding-left: 300px;
    height:250px;
}

.section-three .quote {
    font-size: 35px;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    padding-top: 30px;
}

.section-three .author {
    display: flex;
    justify-content: flex-end;
    font-weight:bold;
}

/* SECTION FOUR */

.section-four {
    background-color: white;
    align-items: center;
    padding-right:300px;
    padding-left: 300px;
    height: 300px;
    border:1px solid red;
    
}

.section-four .message {
    background-color: #3882F6;
    display:flex;
    flex: 1 1 25%;
    height:200px;
    border-radius:10px;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 40px;
    justify-content: space-between;


}

.section-four .message p {
  font-size:20px; 
  padding-right:20px;
}

.section-four .message button {
  width:500px;
  height:100px;
  align-items: center;
  background-color: #3882F6;
  border:2px solid white;
  border-radius: 25px;
  font-size:24px;
}

.section-four .message .right-side div {
  font-size: 48px;
}

/* FOOTER */

.footer {
    background-color: #1F2937;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}

.footer .text {
    color:white;
}

